html{scroll-behavior: smooth;}

/* variables */
$primary-color: #333;
$accent-color: #00ffcc;
$ocean-gradient: linear-gradient(to bottom, #00c6ff, #0072ff);
$mobile-width: 320px;
$title-font: "Bitcount Prop Double Ink", system-ui;

/* reset and body styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 body {
    margin:0;
    padding:0;
    font-family: Arial, sans-serif;
    background: $ocean-gradient;
    min-height: 100vh;
     background-attachment: fixed; 
      overflow-x: hidden; 
}
/* header styles */
.header-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px 20px 40px 20px;
    background: transparent;
    color: white;
    text-align:center;
H1 {
    font-family: $title-font;
    font-size: 6rem; /*Adjust font size for better visibility*/
    color: $accent-color;
    letter-spacing: 8px; /*Adjust letter spacing for better readability*/
    text-transform: uppercase;
    margin-bottom: 30px;

    text-shadow: /* Add multiple layers of shadow for a glowing Neon 3D effect*/
    0 0 10px rgba(0, 255, 204, 0.8),
    0 0 20px rgba(0, 255, 204, 0.5),
    4px 4px 0px rgba(0,0,0,0.2); /* Add a subtle shadow for depth*/

    /* bobbing and glowing animation */
    animation: float-and-glow 4s infinite ease-in-out;

    @media (max-width: $mobile-width) {
        font-size: 3rem; // Adjust font size for mobile
        letter-spacing: 4px; // Adjust letter spacing for mobile
    }
}


}