html{scroll-behavior: smooth;}

/* variables */
$primary-color: #333;
$accent-color: #00ffcc;
$ocean-gradient: linear-gradient(to bottom, #00c6ff, #0072ff);
$mobile-width: 320px;
$title-font: "Bitcount Prop Double Ink", system-ui;